* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-color: rgba(212, 211, 211, 0.2);
}

.header {
    text-align: center;

    background-color: white;
    width: 100%;
    height: 175px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 1px 5px 8px rgba(212, 211, 211, 0.2);

    margin-bottom: 50px;
    gap: 10px;

    p:nth-child(1) {
        font-size: 2.25rem;
        font-weight: 600;
        letter-spacing: 0px;
    }

    p:nth-child(2) {
        font-size: 1rem;
    }
}

.questions {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr minmax(75vw, 2fr) 1fr;
    grid-gap: 2rem;
    justify-items: center;

    padding: 20px;

    .qa {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        &:nth-child(1) {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        &:nth-child(2) {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        a {
            text-decoration: none;
            color: #4E80EE;
        }
        
        ol, ul {
            padding: 0px 25px;

            li {
                padding: 7px 10px;
            }
        }

        .line {
            width: 100%;
            height: 0px;
            border: 1px solid #8f8c8c30;
            border-radius: 10px;
            margin-top: 10px;
        }
    }

}

@media (min-width: 1024px) {
    .questions {
        grid-template-columns: 1fr minmax(45vw, 2fr) 1fr;
    }
}